body { margin: 0; background: #e8eeee;}
* { outline: none;}
.all { position: fixed; left: 0; top: 0; bottom: 0; right: 0;}
.content { width: 1000px; margin: auto; background: #FFF; position: absolute; left: 50%; margin-left: -500px; top: 0; bottom: 0;}

input.lx { padding: 10px; background: #FFF; border: #CCC solid 1px; border-bottom: turquoise solid 5px; }